<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Waitstaff Calculator</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller="MainCtrl">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <h1>Waitstaff Calculator</h1>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="well">
          <h2>Enter the Meal Details</h2>

          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="price" class="col-sm-6 control-label">Base Meal Price: $</label>
              <div class="col-sm-3">
                <input type="number" class="form-control" id="price" ng-model="details.price" required>
              </div>
            </div>
            <div class="form-group">
              <label for="taxRate" class="col-sm-6 control-label">Tax Rate: %</label>
              <div class="col-sm-3">
                <input type="number" class="form-control" id="taxRate" ng-model="details.taxRate" required>
              </div>
            </div>
            <div class="form-group">
              <label for="tipPercentage" class="col-sm-6 control-label">Tip Percentage: %</label>
              <div class="col-sm-3">
                <input type="number" class="form-control" id="tipPercentage" ng-model="details.tipPercentage" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-default">Submit</button>
                <button type="submit" class="btn btn-sm btn-danger">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="well">
          <h2>Customer Charges</h2>
          <div class="row">
            <div class="col-sm-8 col-lg-offset-4">
              <p>Subtotal: {{ computeSubtotal(details.price, details.taxRate) | currency }}</p>
              <p>Tip: {{ computeTip(details.price, details.tipPercentage) | currency }}</p>
              <p><strong>Total: {{ computeTotal(details.price, details.taxRate, details.tipPercentage) }}</strong></p>
            </div>
          </div>

        </div>
        <div class="well">
          <h2>My Earnings Info</h2>
          <div class="row">
            <div class="col-sm-8 col-lg-offset-4">
              <p>Tip Total:</p>
              <p>Meal Count: </p>
              <p>Average Tip Per Meal: </p>
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-danger btn-sm pull-right">Reset</button>

    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>